*
!**/

# ignore
.idea/
cmake-build-debug/

# include
!.gitignore
!Makefile
!*.c
!*.h
!.github/**
!README.md
!images/**

!srcs/tokenize/minishell.bnf

!test

!playground
!playground/**/*.sh

!.gitkeep
